{{ define "about" }}

<!doctype html>
<html lang="en">
    <head>
        {{ template "base-header" }}
    </head>    

    <body>
    
        {{ template "base-navigation" }}

        {{ template "about-body" }}   
   
        {{ template "base-footer" }}

        {{ template "base-js" }}

  </body>
</html>

{{ end }}