{{ define "cfgrelayinterval" }}
<!doctype html>
<html lang="en">

    <head>

        {{ template "base-header" }}

        <!-- Custom styles for this page -->
    
        <link href="{{ webPrefix }}plus/css/pure-min.css" rel="stylesheet">
        <link href="{{ webPrefix }}tmpls/points/pointcfg/relayinterval/relayinterval.css" rel="stylesheet">
        <link href="{{ webPrefix }}plus/css/vk-misc.css" rel="stylesheet">
       
        <script src="{{ webPrefix }}tmpls/points/pointcfg/relayinterval/relayinterval.js"></script>

    </head>

    <body onload="makePage({{ . }});">
   
        {{ template "base-navigation" }}

        {{ template "cfgrelayinterval-body" . }}   

        {{ template "base-footer" }}

        {{ template "base-js" }}

        <script src="{{ webPrefix }}plus/js/mindmup-table.js"></script>
    </body>
</html>

{{ end }}