{{define "home"}}
<!doctype html>
<html lang="en">
    <head>
        {{ template "base-header" }}
    </head>

    <body>
    
        {{ template "base-navigation" }}

        {{ template "home-body" }}   
   
        {{ template "base-footer" }}

        {{ template "base-js" }}

  </body>
</html>





{{end}}