{{define "base-header"}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Vilis" >
    <link rel="icon" href="{{ webPrefix }}plus/img/favicon.ico">

    <title>{{ stationName }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ webPrefix }}bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ webPrefix }}plus/css/jumbotron.css" rel="stylesheet">

    <script src="{{ webPrefix }}jquery.js"></script>
    <script src="{{ webPrefix }}popper.js"></script>
    <script src="{{ webPrefix }}bootstrap.js"></script>


    <link href="{{ webPrefix }}jquery-ui-themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="{{ webPrefix }}jquery-ui.js"></script>
    <script src="{{ webPrefix }}plus/js/misc.js"></script>
    <script src="{{ webPrefix }}plus/js/navigation.js"></script>
{{end}}
