{{define "base-footer"}}
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class = "navbar-text pull-left">Site Build By an Anonymous Genius</p>
            <a href="http://youtube.com/codersguide" class = "navbar-btn btn-danger btn pull-right">Subscribe on YouTube</a>
        </div>
    </div>
{{end}}
